APP_NAME=Product Management System
DEBUG=False

DATABASE_URL=

SESSION_EXPIRE_DAYS=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

REDIS_HOST=
REDIS_PORT= 
REDIS_USERNAME= 
REDIS_PASSWORD= 
