APP_NAME=Product Management System
DEBUG=False

DATABASE_URL=

SESSION_EXPIRE_DAYS=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

REDIS_HOST=
REDIS_PORT= 
REDIS_USERNAME= 
REDIS_PASSWORD= 


MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_REDIRECT_URI=
MICROSOFT_TENANT_ID=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=

OAUTH_STATE_EXPIRE_SECONDS= 

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
S3_BUCKET_NAME=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=Product Management System
SMTP_USE_TLS=false

PASSCODE_EXPIRE_SECONDS=
PASSCODE_LENGTH=
PASSCODE_MAX_ATTEMPTS=


CORS_ORIGINS=

YOUR_REACT_URL=


